<header>
    <nav class="navbar bg-primary bg-gradient bold-text">
        <div class="d-flex" style="width : 100%;">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand link-light" href="#">Result Management Application</a>
                <!-- <span class="navbar-text">Result Management Application</span> -->
            </div>
            <% if (url != '/' && url != '/login') { %>
                <a href="/" class="btn btn-danger me-2">Logout</a>
            <% } %>
        </div>
    </nav>
</header>
