<%- include('./partials/navbar') %>

<section class="homeSection d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div id="home-Div">
        <div class="d-flex justify-content-center mb-4" style="font-weight: 500;">Login As</div>
        <div class="d-flex">
            <a href="/teacher/login" class="btn btn-primary m-2 px-4 py-2 link-light">Teacher</a>
            <a href="/student/login" class="btn btn-primary m-2 px-4 py-2 link-light">Student</a>
        </div>
    </div>
</section>